.header {
  @apply sticky top-0 z-50 flex h-16 items-center justify-between border-b bg-white px-8;
}

.searchContainer {
  @apply flex items-center gap-4;
}

.searchWrapper {
  @apply relative hidden md:block;
}

.searchIcon {
  @apply absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-gray-400;
}

.searchInput {
  @apply rounded-lg border py-2 pl-9 pr-3 text-sm placeholder:text-muted-foreground;
}
